[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arsenal"]
	path = arsenal
	url = https://github.com/mayoverse/arsenal
[submodule "kinship2"]
	path = kinship2
	url = https://github.com/mayoverse/kinship2
